.reviewContainer {
  display: flex;
  align-items: center;
  margin: 10px;
  justify-content: flex-start;

}

img {
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
}

.share-xp {
  color: grey;
}
.xp-link {
  color: #81C6EA;
  text-decoration: none;
}

