<div class="reviewContainer" *ngIf="!$name">
  <img src="https://randomuser.me/api/portraits/men/42.jpg">
  <p><strong>Rate and review</strong>
    <br>
    <span class="share-xp"> Share your experience to help others</span>
    <br>
    <span>
       <star-rating (starClickChange)="onChangeStars($event)" [starType]="'svg'"
                    [rating]="$rating" size="large" space="around" [hoverEnabled]="true"
                    staticColor="ok"></star-rating>
    </span>
</div>
<div *ngIf="$name">
  <h3>Your review</h3>
  <div class="reviewContainer">
    <img src="https://randomuser.me/api/portraits/men/42.jpg">
    <p>
      <br>
      <strong><span>{{$name}}</span></strong>
      <br>
      <span>
       <star-rating (starClickChange)="onChangeStars($event)" [starType]="'svg'"
                    [rating]="$rating" size="small" space="around" [hoverEnabled]="true"
                    labelText="{{$time}} -Hitta.se" staticColor="ok"
                    labelPosition="right"></star-rating>
    <p *ngIf="!$review"><a routerLink="/review" class="xp-link">Describe your experience</a></p>
    <p *ngIf="$review">{{$review}}<a routerLink="/review" class="xp-link">Edit</a></p>
    </span>


  </div>
</div>
