<mat-toolbar class="flexbox">
  <mat-toolbar-row>
    <span class="align-left"><a routerLink="">Close</a></span>
    <span class="align-center">Company</span>
    <span class="align-right"><a (click)="openDialog()">Save</a></span>
  </mat-toolbar-row>
</mat-toolbar>
<form>
<star-rating (starClickChange)="onChangeStars($event)" [starType]="'svg'" [rating]="$rating" size="large"
             [hoverEnabled]="true" staticColor="ok" [labelText]="$label" labelPosition="bottom"></star-rating>
<mat-divider></mat-divider>
<div class="review-form">

    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Your Name" value="{{$name}}" (change)="addName($event)"
             class="full-width">
      <button mat-button *ngIf="$name" matSuffix mat-icon-button aria-label="Clear" (click)="$name=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <textarea (change)="addReview($event)" matInput [placeholder]="$review ? '' : 'Add more details about your experience'" value="{{$review}}"></textarea>
    </mat-form-field>
</div>
</form>
