.flexbox {
  width:100%;
  text-align:center;
  background-color:  #81C6EA;
  margin-bottom: 20px;
}

.align-left {
  float:left;
  width:100px;
  text-align: left;
}

.align-center {
  display: inline-block;
  margin:0 auto;
  width:100px;
}

.align-right {
  float:right;
  width:100px;
  text-align: right;
}
.flexbox {
  span {
    a {
      color: whitesmoke;
      text-decoration: none;
      font-size: 15px
    }
    a:hover {
      color: white;
    }
  }
}
.review-form {
  text-align: left;
}
example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
