.reviewContainer {
  display: flex;
  align-items: center;
  margin: 10px;
  justify-content: flex-start;
}

img {
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
}

.share-xp {
  color: black;
  margin-left: 50px;
}
.stars:focus {
  outline: none;
}
