<div class="reviewContainer">
  <img src="https://randomuser.me/api/portraits/women/24.jpg">
  <p><strong>Anonym</strong>
    <br>
    <span class="stars">
      <star-rating [starType]="'svg'" [rating]="3" size="small" labelText="5hours ago - hitta.se" labelPosition="right" [readOnly]="true" staticColor="ok"></star-rating>
    </span></p>
</div>
<div class="share-xp"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sodales sit amet neque at condimentum.

</div>
