<h3><strong>Latest reviews</strong></h3>
<app-review></app-review>
<app-review></app-review>
<app-review></app-review>
<div class="all-reviews">
  <a class="viewReviews" href="#">View all reviews</a>
</div>

