<div class="my-dialog">
<h2 mat-dialog-title>Thank you {{name}}!</h2>
<mat-dialog-content>You're helping others make smarter decisions every day.</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-button mat-dialog-close routerLink="">Okay!</button>
</mat-dialog-actions>
</div>
