/* You can add global styles to this file, and also import other style files */
@import '~css-star-rating/scss/star-rating.scss';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  color: #3A3A3A;
}

*:focus {
  outline: none !important;
  border: 0 !important;
}

.myClass .mat-dialog-container {
  border-radius: 40px;
  text-align: center;
  background-color: #E5E5E5;
  width: 280px;
  height: auto;
  .mat-dialog-content {
    border-bottom: 2px solid black;
  }
}

