<mat-toolbar class="review-toolbar">
  <mat-toolbar-row>
    <h2>Reviews</h2>
  </mat-toolbar-row>
  <mat-toolbar-row>

    <div class="reviewScore">4.1</div>
    <span class="ratings"> from 34 ratings</span>
    <span class="example-spacer"></span>

    <a class="viewReviews" href="#">View all reviews</a>
  </mat-toolbar-row>
</mat-toolbar>
