.review-toolbar {
  background-color: white;
}
.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.viewReviews {
  text-decoration: none;
  color: #81C6EA;
}

.reviewScore {
  font-weight: bold;
  padding: 3px;
  color: black;
  background-color: #ffd34a;
  border-radius: 10px
}
.ratings {
  font-size: 15px;
  margin-left: 10px;
  color: #939393;
}
